header {
  color: #F0FF33;
  text-align: center;
}

.tipoc {
  text-align: center;
  color: green;
}

.tipoj {
  text-align: justify;
  color: #012345;
  padding: 100px 50px 20px 10px;
  border: solid black 10px;
}

#prueba {
  margin: 10px;
}
